<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.usherbrooke.fgen.api.mapper.DiscussionMapper">

    <resultMap id="DiscussionResultMap" type="ca.usherbrooke.fgen.api.business.Discussion">
        <id property="discussionId" column="discussion_id" />
        <collection property="members" column="discussion_id" javaType="java.util.List" ofType="java.lang.String" select="selectDiscussionMembers" />
    </resultMap>

    <select id="selectDiscussionMembers" resultType="java.lang.String">
        SELECT cip
        FROM app.fait_parti
        WHERE discussion_id = #{discussionId}
    </select>

    <select id="select" resultMap="DiscussionResultMap">
        SELECT d.discussion_id
        FROM app.discussion d
        JOIN app.fait_parti fp ON fp.discussion_id = d.discussion_id
        <where>
            <if test="usersId != null">
                AND fp.cip = ANY(#{usersId, jdbcType=OTHER, typeHandler=org.apache.ibatis.type.ArrayTypeHandler})
            </if>
            <if test="discussionId != null">
                AND d.discussion_id = #{discussionId}
            </if>
        </where>
    </select>

    <select id="selectOne" resultMap="DiscussionResultMap">
        SELECT discussion_id
        FROM app.discussion
        WHERE discussion_id = #{discussionId}
    </select>

    <delete id="deleteOne">
        DELETE
        FROM app.discussion
        WHERE discussion_id = #{discussionId}
    </delete>

    <insert id="insertDiscussion">
        INSERT INTO app.discussion(discussion_id)
        VALUES (#{discussion.discussionId})
    </insert>

    <insert id="insertDiscussionNoEquipe">
        INSERT INTO app.discussion(discussion_id)
        VALUES (#{discussionId})
    </insert>

    <select id="getNewId" resultType="String">
        SELECT md5(random()::text || clock_timestamp()::text) AS new_id
    </select>


</mapper>