<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.MessageMapper">

    <resultMap id="MessageResultMap" type="ca.usherbrooke.fgen.api.business.Message">
        <id property="id" column="message_id" />
        <result property="date" column="date_" />
        <result property="contenu" column="contenu" />
        <result property="cip" column="cip" />
        <result property="discussionId" column="discussion_id" />
        <collection property="fichiers" ofType="ca.usherbrooke.fgen.api.business.FichierJoint" select="ca.usherbrooke.fgen.api.mapper.FichierJointMapper.selectByMessageId" column="message_id" />
    </resultMap>

    <select id="select" resultMap="MessageResultMap">
        select message_id,
               date_,
               contenu,
               cip,
               discussion_id
        from app.message
        where (discussion_id,
               cip,
               message_id) =
              (coalesce(#{discussionId}, discussion_id),
               coalesce(#{cip}, cip),
               coalesce(#{messageId}, message_id))
        order by date_ ASC
        limit #{limite} offset #{decalage}
    </select>

    <select id="selectOne" resultMap="MessageResultMap">
        select message_id,
               date_,
               contenu,
               cip,
               discussion_id
        from app.message
        where message_id = #{messageId}
    </select>

    <delete id="deleteOne">
        delete
        from app.message
        where message_id = #{messageId}
    </delete>

    <delete id="deleteByDiscussionId">
        delete
        from app.message
        where discussion_id = #{discussionId}
    </delete>

    <insert id="insertMessage">
        insert into app.message(message_id,
                                date_,
                                contenu,
                                cip,
                                discussion_id)
        values (#{message.id},
                #{message.date},
                #{message.contenu},
                #{message.cip},
                #{message.discussionId})
        on conflict (message_id) do update set contenu = excluded.contenu;
    </insert>

    <select id="getNewId" resultType="Integer">
        select nextval('app.message_seq'::regclass)
    </select>

    <select id="getFriendDiscussionIds" resultType="String">
        SELECT DISTINCT discussion_id
        FROM app.message
        WHERE cip = #{cip}
    </select>

    <select id="getFriendConversation" resultMap="MessageResultMap">
        SELECT m.message_id,
               m.date_,
               m.contenu,
               m.cip,
               m.discussion_id
        FROM app.message m
                 JOIN app.discussion disc ON m.discussion_id = disc.discussion_id
        WHERE NOT EXISTS (
            SELECT 1
            FROM app.equipe e
            WHERE e.discussion_id = disc.discussion_id
        )
          AND m.discussion_id IN (SELECT fp.discussion_id
                                  FROM app.fait_parti fp
                                  GROUP BY fp.discussion_id
                                  HAVING COUNT(DISTINCT fp.cip) = 2
                                     AND BOOL_AND(fp.cip IN (#{cip1}, #{cip2})))
        ORDER BY date_ ASC
        LIMIT #{limite} OFFSET #{decalage}
    </select>

</mapper>
