<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.usherbrooke.fgen.api.mapper.MessageMapper">

    <select id="select" resultType="ca.usherbrooke.fgen.api.business.Message">
        select message_id    as id,
               date_         as date,
           contenu,
           cip,
           discussion_id as discussionId
        from app.message
        where (discussion_id,
            cip,
            message_id) =
            (coalesce(#{discussionId}, discussion_id),
            coalesce(#{cip}, cip),
            coalesce(#{messageId}, message_id))
        order by date_ ASC
            limit #{limite}
        offset #{decalage}
    </select>

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.business.Message">
        select message_id    as id,
               date_         as date,
           contenu,
           cip,
           discussion_id as discussionId
        from app.message
        where message_id = #{messageId}
    </select>

    <delete id="deleteOne">
        delete
        from app.message
        where message_id = #{messageId}
    </delete>

    <insert id="insertMessage">
        insert into app.message(message_id,
                                       date_,
                                       contenu,
                                       cip,
                                       discussion_id)
        values (#{message.id},
                #{message.date},
                #{message.contenu},
                #{message.cip},
                #{message.discussionId})
        on conflict (message_id) do update set contenu = excluded.contenu;
    </insert>

    <select id="getNewId" resultType="Integer">
        select nextval('app.message_seq'::regclass)
    </select>

</mapper>
