<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.usherbrooke.fgen.api.mapper.UtilisateurMapper">

    <insert id="createUsager">
        insert into app.utilisateur (cip,
                                     pseudo,
                                     courriel,
                                     nom,
                                     prenom,
                                     photo_de_profil_id)
        values (#{cip},
                #{pseudo},
                #{courriel},
                #{nom},
                #{prenom},
                #{photoProfilId}) on conflict (cip) do
        update set
            pseudo = excluded.pseudo,
            courriel = excluded.courriel,
            nom = excluded.nom,
            prenom = excluded.prenom,
            photo_de_profil_id = excluded.photo_de_profil_id
    </insert>


  <select id="select" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
      SELECT cip, pseudo, nom, prenom, courriel, photo_de_profil_id
      FROM app.utilisateur
      WHERE ((#{cip, jdbcType=VARCHAR} IS NULL) OR (cip ILIKE CONCAT(#{cip, jdbcType=VARCHAR}, '%')))
        AND ((#{pseudo, jdbcType=VARCHAR} IS NULL) OR (pseudo ILIKE CONCAT(#{pseudo, jdbcType=VARCHAR}, '%')))
        AND ((#{courriel, jdbcType=VARCHAR} IS NULL) OR (courriel ILIKE CONCAT(#{courriel, jdbcType=VARCHAR}, '%')))
        AND ((#{nom, jdbcType=VARCHAR} IS NULL) OR (nom ILIKE CONCAT(#{nom, jdbcType=VARCHAR}, '%')))
        AND ((#{prenom, jdbcType=VARCHAR} IS NULL) OR (prenom ILIKE CONCAT(#{prenom, jdbcType=VARCHAR}, '%')))
  </select>

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
        SELECT cip, pseudo, nom, prenom, courriel, photo_de_profil_id
        FROM app.utilisateur
        WHERE cip = coalesce(#{cip}, cip)
          AND pseudo = coalesce(#{pseudo}, pseudo)
          AND courriel = coalesce(#{courriel}, courriel)
          AND (#{cip} IS NOT NULL OR #{pseudo} IS NOT NULL OR #{courriel} IS NOT NULL)
    </select>

    <delete id="deleteOne">
        DELETE
        FROM app.utilisateur
        WHERE cip = #{cip}
    </delete>

    <insert id="insertContact">
        INSERT INTO app.contact (cip, cip_contact)
        VALUES (#{cip}, #{cip_contact})
    </insert>

    <select id="getContacts" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
        SELECT u.cip, u.pseudo, u.courriel, u.nom, u.prenom, u.photo_de_profil_id
        FROM app.Contact c
        JOIN app.Utilisateur u ON c.cip_contact = u.cip
        WHERE c.cip = #{cip}
    </select>

</mapper>