<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ca.usherbrooke.fgen.api.mapper.UtilisateurMapper">

    <insert id="createUsager">
        insert into app.utilisateur (cip,
                                     pseudo,
                                     courriel,
                                     nom,
                                     prenom,
                                     photo_de_profil_id)
        values (#{cip},
                #{pseudo},
                #{courriel},
                #{nom},
                #{prenom},
                #{photoProfilId}) on conflict (cip) do
            update set
                       courriel = excluded.courriel,
                       nom = excluded.nom,
                       prenom = excluded.prenom
    </insert>


  <select id="select" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
      SELECT cip, pseudo, nom, prenom, courriel, photo_de_profil_id AS photoProfilId
      FROM app.utilisateur
      WHERE ((#{cip, jdbcType=VARCHAR} IS NULL) OR (cip ILIKE CONCAT(#{cip, jdbcType=VARCHAR}, '%')))
        AND ((#{pseudo, jdbcType=VARCHAR} IS NULL) OR (pseudo ILIKE CONCAT(#{pseudo, jdbcType=VARCHAR}, '%')))
        AND ((#{courriel, jdbcType=VARCHAR} IS NULL) OR (courriel ILIKE CONCAT(#{courriel, jdbcType=VARCHAR}, '%')))
        AND ((#{nom, jdbcType=VARCHAR} IS NULL) OR (nom ILIKE CONCAT(#{nom, jdbcType=VARCHAR}, '%')))
        AND ((#{prenom, jdbcType=VARCHAR} IS NULL) OR (prenom ILIKE CONCAT(#{prenom, jdbcType=VARCHAR}, '%')))
  </select>

    <select id="selectOne" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
        SELECT cip, pseudo, nom, prenom, courriel, photo_de_profil_id AS photoProfilId
        FROM app.utilisateur
        WHERE cip = coalesce(#{cip, jdbcType=VARCHAR}, cip)
          AND pseudo = coalesce(#{pseudo, jdbcType=VARCHAR}, pseudo)
          AND courriel = coalesce(#{courriel, jdbcType=VARCHAR}, courriel)
          AND (#{cip, jdbcType=VARCHAR} IS NOT NULL
            OR #{pseudo, jdbcType=VARCHAR} IS NOT NULL
            OR #{courriel, jdbcType=VARCHAR} IS NOT NULL)
    </select>

    <delete id="deleteOne">
        DELETE
        FROM app.utilisateur
        WHERE cip = #{cip}
    </delete>

    <insert id="insertContact">
        INSERT INTO app.contact (cip, cip_contact)
        VALUES (#{cip}, #{cip_contact})
    </insert>

    <update id="updateUtilisateur">
        UPDATE app.utilisateur
        SET pseudo             = coalesce(#{pseudo}, pseudo),
            courriel           = coalesce(#{courriel}, courriel),
            nom                = coalesce(#{nom}, nom),
            prenom             = coalesce(#{prenom}, prenom),
            photo_de_profil_id = coalesce(#{photoProfilId}, photo_de_profil_id)
        WHERE cip = #{cip}
    </update>

    <update id="clearPhoto">
        UPDATE app.utilisateur
        SET photo_de_profil_id = NULL
        WHERE cip = #{cip}
    </update>

    <select id="getContacts" resultType="ca.usherbrooke.fgen.api.business.Utilisateur">
        SELECT u.cip, u.pseudo, u.courriel, u.nom, u.prenom, u.photo_de_profil_id AS photoProfilId
        FROM app.Contact c
        JOIN app.Utilisateur u ON c.cip_contact = u.cip
        WHERE c.cip = #{cip}
    </select>

</mapper>